<div>
    <div class="container">
        <div class="section">
            <center><input style="color:white;" ng-model="search.name" class="search" type="text" placeholder="search books"/></center>
        </div>
        <div class="col m3">
            <div ng-repeat="book in books|filter:search" class="card horizontal">
                <div class="card-image">
                    <img ng-src="{{book.data[0]}}" ng-click="read(book)" style="cursor: pointer">
                    <span class="card-title">{{book.name}}</span>
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <h3>Read {{book.name}}!</h3>
                    </div>
                    <div class="card-action">
                        <a ng-click="read(book)" style="cursor:pointer;">Read</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>